apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  username: {{ .Values.postgres.superuser | quote }}
  password: {{ .Values.postgres.password | quote }}
