# Argo-Postgres connection secret values
# Used by templates/secret-postgres-config.yaml
argoPostgresConfig:
  username: workflows
  password: workflows123!

networkPolicy:
  apiServerCIDRs:
    - 172.11.0.1/32
    - 100.112.1.193/32

# Upstream argo-workflows chart values (via alias)
argo:
  images:
    tag: v3.7.9
    pullSecrets:
      - name: my-registry-secret

  controller:
    logging:
      level: debug
    podAnnotations:
      sidecar.istio.io/inject: "false"
    image:
      registry: quay.io
      repository: argoproj/workflow-controller
      tag: v3.7.9
    serviceAccount:
      create: false
      name: argo-workflow-controller
    replicas: 1
    workflowNamespaces:
      - argo
    persistence:
      archive: true
      nodeStatusOffLoad: true
      postgresql:
        host: postgres
        port: 5432
        database: workflows
        tableName: argo_workflows
        userNameSecret:
          name: argo-postgres-config
          key: username
        passwordSecret:
          name: argo-postgres-config
          key: password
        ssl: false
        sslMode: disable

  workflow:
    serviceAccount:
      create: false
      name: argo-workflow
    podMetadata:
      annotations:
        sidecar.istio.io/inject: "false"

  executor:
    image:
      registry: quay.io
      repository: argoproj/argoexec
      tag: v3.7.9

  server:
    logging:
      level: debug
    podAnnotations:
      sidecar.istio.io/inject: "false"
    image:
      registry: quay.io
      repository: argoproj/argocli
      tag: v3.7.9
    serviceAccount:
      create: false
      name: argo-server
    replicas: 1
    baseHref: /
    authModes:
      - server
    secure: false
    autoscaling:
      enabled: false
